h1 = t('.title', repo: @repo_name, check_id: @check_id)

p = t('.greeting', name: @user.nickname)
p = t('.intro')
p = t('.offenses_count', count: @count)
br
- case @count
- when 1
  p = t('.result_fine')
- when 2..10
  p = t('.result_acceptable')
- else
  p = t('.result_too_many', style_guide: @style_guide)
br
p = t('.check_details')
= link_to t('.link_to_check'), @check_url
hr
p = t('.thank_you')
p = t('.regards')
p = t('.repository_check_team')
